part1/unicafe/node_modules
part1/anecdotes/node_modules
part1/courseinfo/node_modules
part2/courseinfo/node_modules
part2/countries/node_modules
part2/phonebook/node_modules
part3/phonebook-backend-submit/node_modules
part3/phonebook-backend-submit/.env
part3/phonebook-backend
part4/blog-backend/node_modules
part4/blog-backend/.env
